.pattern{
  background-color: deepskyblue;
  background-image: url(./img/pattern.png);
  background-size: 400px;
  height: 120px;
}

h1{
  margin-bottom: 0px;
  font-size: 3rem;
}

.pattern img{
  margin-top: 35px;
  height: 70px;
}

.descrizione{
  font-size: 0.8rem;
}

.grigio{
  color: gray;
}

.tim{
  margin-top: 20px;
}

table{
  margin: 0px;
}

.azzurro{
  color: deepskyblue;
}

thead{
  background-color:deepskyblue;
  color: white;
}

th{
  text-align: left;
}

table{
  border-spacing: 0px;
}

.dispari{
  background-color: rgb(138, 235, 252);
}

.w-50{
  width: 50%;
}

#img1{
  margin-top: 20px;
  color: white;
  width: 300px;
  height: 200px;
  background-image: url(./img/monitor.jpg);
}

#img2{
  
  color: white;
  width: 300px;
  height: 200px;
  background-image: url(./img/graph.jpg);
}

.evidenziato{
  background-color: rgb(255, 255, 0);
}

.lorem{
  margin-top: 5000px;
  font-size: 1.5rem;
}